Ejercicios UD4/tarefa6/ejercicio 2/precios.xsd

<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="precios">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="precio" type="tipoPrecio" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:simpleType name="tipoPrecio">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="3"/>
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>